<h1>Calls</h1>

<dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="true"> 
    <dxo-editing 
        [allowAdding]="true" 
        [allowUpdating]="true" 
        [allowDeleting]="true" 
    ></dxo-editing> 

    <dxi-column
        dataField="id"
        dataType="number">
    </dxi-column>

    <dxi-column
        dataField="date_of_calls"
        dataType="date">
    </dxi-column>

    <dxi-column
        dataField="duration"
        dataType="number">
    </dxi-column>

</dx-data-grid>
