<h1>Cities</h1>

<dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="true"> 
    <dxo-editing 
        [allowAdding]="true" 
        [allowUpdating]="true" 
        [allowDeleting]="true" 
    ></dxo-editing> 

    <dxi-column
        dataField="id"
        dataType="number">
    </dxi-column>

    <dxi-column
        dataField="price"
        dataType="number">
    </dxi-column>

    <dxi-column
        dataField="city"
        dataType="string">
    </dxi-column>

    <dxi-column
        dataField="code"
        dataType="number">
    </dxi-column>

</dx-data-grid>
